@import url('https://fonts.googleapis.com/css?family=Cascadia%20Code');
@import url('https://fonts.googleapis.com/css?family=Fira%20Code');
@import "tailwindcss";

@theme {
  --color-*: initial;

  --text-*: initial;
  --text-sm: 0.82rem;
  --text-base: 1rem;
  --text-xl: 1.333rem;
  --text-2xl: 1.777rem;
  --text-3xl: 2.369rem;
  --text-4xl: 3.158rem;
  --text-5xl: 4.210rem;

  --color-text: #dcdbe1;
  --color-background: #131313;
  --color-primary: #12bf32;
  --color-secondary: #053b0f;
  --color-accent: #56a7dc;
}

:root {
  font-family: 'Fira Code';
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Fira Code';
  font-weight: 400;
}

.font-cascadia {
  font-family: 'Cascadia Code';
  font-weight: 700;
}

.font-fira {
  font-family: 'Fira Code';
  font-weight: 400;
}

h1 {
  font-family: 'Cascadia Code';
  font-weight: 700;

  @apply text-xl sm:text-3xl;
}

h2 {
  @apply text-xl md:text-2xl;
}

p {
  @apply text-base;
}

h2, h3, h4, h5 {
  font-family: 'Fira Code';
  font-weight: 400;
}

a, button {
  @apply text-accent;
}

a:hover, button {
  transition: opacity 0.2s;
  opacity: 0.7;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @apply gap-y-6 md:gap-y-12 w-full;
}

.icon-container {
  @apply flex flex-wrap basis-10 gap-y-8 gap-x-8 justify-around px-8 sm:px-0 sm:flex-row sm:justify-center sm:gap-x-6;
}

.tech-icon {
  font-size: 3.5rem;
  line-height: 1;
  @apply w-12 h-12 sm:w-16 sm:h-16;
}

.project-container {
  @apply flex flex-col gap-y-3 md:gap-y-4;
}

.project-container > .project-title-bar {
  @apply flex flex-col sm:flex-row justify-between;
}

.project-container > .project-title-bar > .project-links{
  @apply flex flex-row gap-x-3 text-xl sm:pt-2;
}

.project-container > p {
  text-wrap: wrap;
  width: 100%;
}